

mat-toolbar.mat-toolbar.mat-primary {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    z-index: 2;
    position: relative;
}

@media (min-width: 800px) {
    #menu-btn-toolbar {
        display: none;
    }
    md-toolbar img {
        display: block;
    }
}

#profile-img {
    width: 40px;
    border-radius: 50%;
}