.spacer {
    flex: 1;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



/* .mat-card {
    transition: 100ms;
} */
md-card.mat-card {
    display: flex;
    align-items: center;
    padding: 18px;
}
.mat-card a{
    color: #263238;
    text-decoration: none;
    /* flex:1; */
}

/* .mat-card:hover {
    background: #F7F7F7;
} */

@media (max-width: 650px){
    .mat-card a{
        font-size: 14px;
    }
}