<app-header-toolbar></app-header-toolbar>
<div id="main">
  <mat-sidenav-container #start class="example-sidenav-fab-container">
      <mat-sidenav id="sidenav-container" #sidenav mode="side" opened="true" class="docs-component-viewer-sidenav">
          <nav>
              <span class="sidenav-title-element">Navigation</span>
              <li><a routerLink="login">Login</a></li>
              <li><a routerLink="/dashboard">Dashboard</a></li>
              <li><a routerLink="/customers">Kunden</a></li>
              <li><a routerLink="/settings">Einstellungen</a></li>
              <!-- <li><a routerLink="/checklist">Checkliste</a></li> -->
          </nav>
      </mat-sidenav>

      <app-page-header></app-page-header>
      <app-component-viewer id="test"></app-component-viewer>

  </mat-sidenav-container>
</div>