<header>
    <ul class="nav nav-pills">
        <li routerLinkActive="active" role="presentation"><a routerLink="/rezepte">Rezeptbuch</a></li>
        <li routerLinkActive="active" role="presentation"><a routerLink="einkaufsliste">Einkaufsliste</a></li>
        <li>
            <div class="dropdown" appDropdown>
                <button id="dLabel" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false">
                    Verwaltung
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li role="presentation">Speichern</li>
                    <li role="presentation">Laden</li>
                </ul>
            </div>
        </li>
    </ul>
</header>
<hr>