agm-map {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
}

.invalid {
  .form-control {
    border-color: #dc3545;
  }
}

h1 {
  small {
    display: block;
    font-size: 20px;
    font-weight: 100;
  }
}

.img-wrapper {
  height: 333px;
  overflow: hidden;
}

#search-wrapper {
  flex: 1;
}

img {
  width: 380px;
}

.weather-data {
  overflow-x: hidden;
  .icon {
    text-align: center;
    position: relative;
    top: -65px; 
  }
}

// RESPONSIVE
@media (max-width: 575px) {
  .form-inline {
    align-items: flex-start;
    #search-wrapper {
      margin-right: 5px;
    }
  }
}

@media (max-height: 705px) {
  .img-wrapper {
    height: 255px;
  }
  img {
    width: 280px;
  }
  .icon {
    top: -45px !important;
  }
}
@media (max-width: 320px) {
  .icon {
    top: -65px !important;
  }
}

