<agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="15">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
</agm-map>
<form class="form-inline">
  <div id="search-wrapper" class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">
      <i class="material-icons">location_on</i>
    </div>
    <input #search id="city-search" name="city" [(ngModel)]="city" autocomplete="off" autocapitalize="off" spellcheck="off" type="text"
      class="form-control" placeholder="Enter your City...">
  </div>
  <button (click)="getCity(city)" class="btn btn-primary">Search</button>
</form>
<div class="mt-4 d-grid"> 
  <div class="icon">
    <img src="/assets/weather-icons/cloudy.svg"  alt="">
  </div>
</div>
{{city}}
