<agm-map [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="15">
  <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
</agm-map>
<form class="form-inline" ngSubmit="getCity()">
  <div id="search-wrapper" class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div class="input-group-addon">
      <i class="material-icons">location_on</i>
    </div>
    <input #search id="city-search" name="city" [(ngModel)]="city" autocomplete="off" autocapitalize="off" spellcheck="off" type="text"
      class="form-control" placeholder="Enter your City...">
  </div>
  <button (click)="getCity()" class="btn btn-primary">Search</button>
</form>
<div class="weather-data" *ngIf="weather !== undefined; else noData">
  <div class="icon">
    <div class="img-wrapper">
      <img src="/assets/weather-icons/{{weatherImg}}" alt="">
    </div>


    <div>
      <h1>{{weather.name}}
        <small>{{date | date: 'dd.MM.yyyy hh:mm'}}</small>
      </h1>
      <h2>Temp: {{weather.main.temp}}°C</h2>
      <h3>Weather: {{weather.weather[0].description}}</h3>
      <h3>Wind: {{weather.wind.speed * 3.6 | number : '1.1-1'}} km/h</h3>
    </div>



  </div>
</div>
<ng-template #noData>
  <section class="text-center m-4">
    <p>Choose your City</p>
  </section>
</ng-template>

