<mat-toolbar color="primary" (window:resize)="onResize($event)">
    <button id="menu-btn-toolbar" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon class="mat-24" aria-label="Hamburger Menu icon">menu</mat-icon>
  </button>
    <img id="logo" src="/assets/img/logo.png" width="22" alt=""> <span>Checklist</span>
    <div class="spacer"></div>
    <img id="profile-img" src="{{user.photoURL}}" title="{{user.displayName}}" *ngIf="auth.user | async as user" />
</mat-toolbar>
<div id="main">
    <mat-sidenav-container #start class="example-sidenav-fab-container">
        <mat-sidenav id="sidenav-container" #sidenav mode="side" opened="true" class="docs-component-viewer-sidenav">
            <nav>
                <span class="sidenav-title-element">Navigation</span>
                <li><a routerLink="login">Login</a></li>
                <li><a routerLink="/dashboard">Dashboard</a></li>
                <li><a routerLink="/customers">Kunden</a></li>
                <!-- <li><a routerLink="/checklist">Checkliste</a></li> -->
                <li><a routerLink=".">Link</a></li>
            </nav>
        </mat-sidenav>

        <app-page-header></app-page-header>
        <app-component-viewer id="test"></app-component-viewer>

    </mat-sidenav-container>
</div>