<md-toolbar color="primary" (window:resize)="onResize($event)">
  <button id="menu-btn-toolbar" md-icon-button (click)="sidenav.toggle()">
    <md-icon class="md-24" aria-label="Hamburger Menu icon">menu</md-icon>
  </button>
  <img src="/assets/img/logo.png" width="22" alt="">
  Checklist
  <div class="spacer"></div>
</md-toolbar>
<div id="main">
  <md-sidenav-container #start class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" opened="true" class="docs-component-viewer-sidenav">
      <span class="sidenav-title-element">Navigation</span>
      <a md-raised-button routerLink=".">Link</a>
      <a md-raised-button routerLink=".">Link</a>
      <a md-raised-button routerLink=".">Link</a>
      <a md-raised-button routerLink=".">Link</a>

      <div *ngIf="authInfo$?.checkLoginState()">du bist nicht angemeldet </div>
      <div *ngIf="!authInfo$?.checkLoginState()">du bist angemeldet </div>
    </md-sidenav>

    <app-page-header></app-page-header>
    <app-component-viewer id="test"></app-component-viewer>

  </md-sidenav-container>
</div>
