/* You can add global styles to this file, and also import other style files */
.container {
    margin-top: 3vh;
    background: rgba(245, 245, 245, 0.79);
    box-shadow: 0 0 20px -7px black;
    height: 93vh;
    overflow: hidden;
  }